# Directorios generados por diferentes herramientas y entornos
/node_modules/
/.vscode/
/.idea/
/.vs/
/.cache/
/.settings/
/.sass-cache/
/bower_components/
/out/
/.DS_Store
/desktop.ini

# Archivos generados por diferentes herramientas y entornos
*.log
*.log.*
*.komodoproject
*.komodotool
*.kate-swp
*.kate-swp.*
*.nvim
*.nvim.*
*.swp
*~
*.bak
*.bak.*
*.swp
*.swp.*
*.swo
*.swo.*
*.sublime-workspace
*.sublime-project
*.tmproj
*.tmproject
*.esproj
*.esproject
*.db
*.sqlite
*.sqlite3
*.sql
*.cph
*.docstates
*.dotstates
*.mwbstate
*.plg
*.prefs
*.seed
*.svd
*.suo
*.tss
*.tvp
*.vbw
*.vbwk
*.cache
*.localhistory
.sass-cache/
/FacturasAxoft/obj/Debug/net6.0
/FacturasAxoftConsole/obj/Debug/net6.0
/FacturasAxoftTest/obj/Debug/net6.0
